- @posts.each do |post|
  .row
    .span3
      %img{ src: post.photo.thumb, class: 'img-polaroid' }
    .span4
      %h2= post.nickname
      = post.description
      %a{ href: post.user }
        = post.user.name
  %hr
