.row.container
  .span2
    = image_tag "http://dl.dropboxusercontent.com/u/56984295/logo_color%20(1).png", class: :logo
  .span4
    %a{ href: "http://ulmic.ru" }
      %h4
        Молодёжный инициативный центр
      http://ulmic.ru
